/* .dish-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .dish-card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
  }
  
  .dish-card h2 {
    margin: 10px 0;
  }
  
  .dish-card p {
    margin: 5px 0;
  } */
  