<div class="menu-container">

    <div class="dish-list">

        <button (click)="highlightDish('')" [ngClass]="{'active': selectedDish === ''}">
            MENU
        </button>

        <div *ngFor="let dish of dishes">
            <button (click)="highlightDish(dish.name)" [ngClass]="{'active': selectedDish === dish.name}">
                {{ dish.name }}
            </button>
        </div>

    </div>

    <div class="motto">

        <div *ngFor="let dish of dishes" class="dish-card"
            [ngClass]="{'visible': selectedDish === dish.name, 'hidden': selectedDish !== dish.name}">
            <img [src]="dish.image ? dish.image : 'assets/images/default-image.jpg'" alt="{{ dish.name }}">
            <p>{{ dish.name | uppercase }}</p>
            <p>category: {{ dish.category }}</p>
            <p>ingredients: {{ dish.ingredients }}</p>
            <p>price: {{ dish.price | currency:'caps ' }}</p>
        </div>
    </div>
</div>