<div class="event-calendar-container">

    <div class="button-wrapper">
        <h3>event calendar</h3>

        <div class="year-button-container">
            <button *ngFor="let year of years" (click)="highlightYear(year)"
                [ngClass]="{'active': selectedYear === year}">
                {{ year }}
            </button>

            <button (click)="clearYear()" [ngClass]="{'active': selectedYear === ''}">
                Clear
            </button>
        </div>

        <div class="month-button-container">
            <button *ngFor="let month of months" (click)="highlightMonth(toString(month.id))"
                [ngClass]="{'active': selectedMonth === toString(month.id)}">
                {{ month.abbreviation }}
            </button>
            <button (click)="clearMonth()" [ngClass]="{'active': selectedMonth === ''}">
                Clear
            </button>
        </div>

    </div>

    <hr>

    <div class="event-container">
        <ng-container *ngFor="let event of events">
            <div *ngIf="(selectedYear === '' || selectedYear === getYearFromDate(event.date)) &&
                         (selectedMonth === '' || selectedMonth === getMonthFromDate(event.date))" class="event-card">
                <button
                    style="position: relative; z-index: 1; float: right; top: 0px; right: 5px; border: none">x</button>
                <div class="header">
                    <div>{{ event.title | uppercase }}</div>
                </div>
                <div class="body">
                    <table>
                        <tbody>
                            <tr>
                                <td>date: </td>
                                <td>{{ event.date | date }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div style="text-align: justify;">{{ event.description }}</div>
                </div>
            </div>
        </ng-container>
    </div>

</div>